.container {  
    position: relative;
    display: flex;
    align-items: center;
   
    width: 800px;
    height: 200px;
    align-content: center; 
    font-size: 40px;
    font-style: italic; 
    font: bold;
    flex-direction: column;
    }
.container img{
    max-width: 100%;
    max-height: 100%;
}

.profileimg{
    height: 200px;
    width: 100px;
    position: relative;
    margin-right: auto;
    align-content: space-evenly;
}
.profiletext{
     position: absolute;
     align-content: center;
    align-content: flex-start;
     margin-top: 60px;
}
    body{
    background-color: blue;
}
.contact{  
    position: relative;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    background-color:royalblue;
    width: 500px;
    height: 200px;
   font-size: larger;
    align-content: center;
    font-style: italic; 
   font: bold;

    }
  wrap{
    display: flex;
    flex-direction: row;
  }
 
 p{
    background-color: aquamarine;
  
    
    
 }
h1{
    color:7752fe;
}
br{
    background-color: aqua;
}
   
div{
    background-color: aquamarine;
}

body{
    background-color: blue;
}

table{
    background-color: aquamarine;
    border: 2px solid;
    width: 100%;
   border-left: 2px solid;
}